@font-face {
  font-family: 'harmony';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Black.ttf')
    url('/assets/fonts/HarmonyOS_Sans_SC_Bold.ttf')
    url('/assets/fonts/HarmonyOS_Sans_SC_Light.ttf')
    url('/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf')
    url('/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf')
    url('/assets/fonts/HarmonyOS_Sans_SC_Thin.ttf');
}

@font-face {
  font-family: 'fira code';
  src: url('/assets/fonts/FiraCode-Bold.woff')
    url('/assets/fonts/FiraCode-SemiBold.woff')
    url('/assets/fonts/FiraCode-Medium.woff')
    url('/assets/fonts/FiraCode-Regular.woff')
    url('/assets/fonts/FiraCode-Light.woff')
    url('/assets/fonts/FiraCode-VF.woff');
}

@font-face {
  font-family: 'comic';
  src: url('/assets/fonts/comic.ttf');
}

@font-face {
  font-family: 'xingkai';
  src: url('/assets/fonts/xingkai.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--grey-2);
  font-family: 'fira code', 'harmony';
}

/* common css */
:root {
  --primary-color: var(--red-6);
  --zeqi-red: rgba(195, 47, 1, 1);
  --grey-1: #fff;
  --grey-2: #fafafa;
  --grey-8: #595959;
  --grey-9: #434343;
  --grey-10: #262626;
  --red-1: #fff1f0;
  --red-2: #ffccc7;
  --red-6: #f5222d;
  --geekblue-1: #f0f5ff;
  --geekblue-2: #d6e4ff;
}

.cute-link {
  text-decoration: underline dashed var(--zeqi-red);
  text-underline-offset: 4px;
  color: unset;
}

.cute-link:hover {
  text-decoration: underline wavy var(--zeqi-red);
  transition: all ease-in-out 0.4s;
}

/* nav ==================================================================== */
nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* public */
nav .nav-item {
  height: 80%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* left */
nav .nav-title img {
  /* logo */
  height: 80%;
  object-position: center;
  object-fit: cover;
  border-radius: 1rem;
}

nav .nav-title a {
  /* title */
  margin-left: 1rem;
  color: var(--grey-10);
  text-decoration: none;
  font-family: 'xingkai';
}

/* right */
nav .nav-contact {
  display: flex;
  align-items: center;
}

nav .nav-contact a {
  height: 50%;
}

nav .nav-contact a:not(:first-child) {
  margin-left: 8px;
}

nav .nav-contact a img {
  height: 100%;
  object-fit: cover;
}

/* header ================================================ */
header {
  width: 100%;
  height: 100vh;
  /* padding-top: 65px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--geekblue-2),
    var(--geekblue-1),
    var(--grey-2)
  );
}

header .title {
  /* titles */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .title h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  margin-top: 36px;
  color: var(--grey-10);
  letter-spacing: 36px;
  font-family: 'comic', 'xingkai';
}

header .title h1 .red {
  color: var(--zeqi-red);
  text-decoration: none;
}

header .title h1 .cute-link {
  text-underline-offset: 16px;
}

header .description {
  /* description */
  font-size: 16px;
  line-height: 36px;
  margin-top: 72px;
  width: 50%;
  text-align: center;
}

header .btns {
  /* buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}

header .btns a {
  /* button */
  min-width: 180px;
  max-width: 20vw;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background: var(--red-6);
  color: var(--grey-1);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 8px 4px var(--grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

header .btns a:not(:first-child) {
  margin-left: 36px;
  border: solid 4px var(--red-6);
  background-color: var(--grey-2);
  color: var(--red-6);
}

@media (min-width: 1921px) {
  nav {
    padding: 0 15%;
  }
}

@media (max-width: 1366px) {
  header .title h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 20px;
  }
}

@media (max-width: 990px) {
  header .title h1 {
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 18px;
  }
  header .btns a {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  header .title h1 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 12px;
  }
  header .description {
    width: 80%;
  }
  header .description p {
    font-size: 12px;
  }
  header .btns {
    flex-direction: column;
    align-items: center;
  }
  header .btns a {
    height: 50px;
  }
  header .btns a:not(:first-child) {
    margin-left: unset;
    margin-top: 36px;
  }
}

@media (max-width: 400px) {
  header .title h1 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 9px;
    margin-top: 24px;
  }
  header .description {
    margin-top: 48px;
    font-size: 12px;
  }
  header .btns {
    margin-top: 48px;
  }
} ;
